.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
coverage/
node_modules/
.firebase/
firebase-debug.log
firestore-debug.log
android/local.properties
android/app/google-services.json

# IDE
.idea/
*.iml
